

.navbar{
display: flex;
justify-content: space-around;
background-color: #414C66;
height: 150px;
max-width: 100%;
position:  sticky !important ;
top: 0px;

}
.logo{
height: 100px;
width: 100px;
margin-top: 40px;


}
ul{
display: flex;
justify-content: space-between;
list-style: none;
margin-left: 5px;
margin-top: 80px;
margin-right: 30px;
}
li{
color: white;
text-decoration: none;
margin-left: 35px;
font-size: 16px;
    line-height: 19px;
font-family: Ftpolar,sans-serif;
cursor: pointer;
font-weight: 400;
}
svg{
    margin-left: 12px;
margin-top: 3px;
}
.navbar li:hover svg{
   transform: rotate(180deg);
transition-duration: 1s;   
}

.drop{
    position: absolute;
   background-color: white;
   margin-top: 0px;
  
   display: flex;
   width: 800px;

}
.drop ul{
    display: flex;
    flex-direction: column;
padding-top: 0%;

}
.drop li{
    color: gray;
margin-bottom: 15px;
text-decoration: underline;

}
.dropimg1{
    height: 200px;
    width: 300px;
}
.navbar link{
    text-decoration: inherit;
    text-align: none;
}
.drop1 h5{
    font-size: 10px;
}
.drop1{
    position: absolute;
   background-color: white;
   margin-top: 0px;
   
width: 145px;
   display: flex;
   
}
.drop1 ul{
    display: flex;
    flex-direction: column;
padding-top: 0%;

}
.drop1 li{
    color: gray;
margin-bottom: 15px;
text-decoration: underline;
margin-left: 0%;
margin-top: 10px;
}
.drop h2{
    color: gray;
    font-size: 20px;
}
.drop p{
    font-size: 15px;
}
.drop1 svg{
color: gray;
}






.drop2{
    position: absolute;

    background-color: white;
   margin-top: 0px;
  
width: 350px;
   display: flex;
   
}
.drop2 svg{
    color: gray;
    margin-left: 30%;
    }
    .drop2 h2{
        color: gray;
        font-size: 20px;
    }
    .drop2 ul{
        display: flex;
        flex-direction: column;
    padding-top: 0%;
    margin-top: 20px;
    
    }
    .drop2 li{
        color: gray;
    margin-bottom: 15px;
    text-decoration: underline;
    margin-left: 0%;
    margin-top: 10px;
    }






























    .drop3{
        position: absolute;
    background-color: white;
       margin-top: 0px;
      
       display: flex;
     align-self: flex-start;
       width: 730px;
      height: 410px;
    margin-right: 90%;
    margin-left: 0%;

}
    .drop3 svg{
        color: gray;
        margin-left: 30px;
        }
        .drop3 h2{
            color: gray;
            font-size: 15px;
        }
        .drop3 ul{
            display: flex;
            flex-direction: column;
        padding-top: 0%;
    margin-top: 2px;
    margin-left: 0%;    
    
        }
        .drop3 ul li{
            color: gray;
        margin-bottom: 12px;
        text-decoration: underline;
        margin-top: 0px;
    padding-top: 0%;    
    }
    
.drop32 img{
width: 400px;
height: 300px;
}




























